---
import "../styles/brands.css";
---

<section class="brands">
  <div class="container">

    <p class="brands-label">
      Marchi trattati
    </p>

    <div class="brands-grid">

      <img src="/logos/FIAMM_logo.webp" alt="FIAMM" width="800" height="400" loading="lazy" />
<img src="/logos/Magneti_Marelli_logo.webp" alt="Magneti Marelli" width="800" height="400" loading="lazy" />
<img src="/logos/NPP_logo.webp" alt="NPP" width="800" height="400" loading="lazy" />
<img src="/logos/BAREN-logo.webp" alt="Baren Batterie" width="800" height="400" loading="lazy" />
<img src="/logos/RITAR_logo.webp" alt="Ritar Power" width="800" height="400" loading="lazy" />
<img src="/logos/Yuasa_logo.webp" alt="Yuasa" width="800" height="400" loading="lazy" />
<img src="/logos/okyami_logo.webp" alt="Okyami" width="800" height="400" loading="lazy" />
<img src="/logos/polinovel_logo.webp" alt="Polinovel" width="800" height="400" loading="lazy" />
<img src="/logos/Elhim-ISKRA-logo.webp" alt="Elhim Iskra" width="800" height="400" loading="lazy" />
<img src="/logos/logo_power_motor_sport.webp" alt="Power Motor Sport" width="800" height="400" loading="lazy" />
<img src="/logos/sinergy_logo.webp" alt="Sinergy Batteries" width="800" height="400" loading="lazy" />

    </div>

    <div class="brands-noise"></div>

  </div>
</section>