---
import "../styles/brands.css";
---

<section class="brands">
  <div class="container">

    <p class="brands-label">
      Marchi trattati
    </p>

    <div class="brands-grid">

      <img src="/logos/FIAMM_logo.webp" alt="FIAMM" />
      <img src="/logos/Magneti_Marelli_logo.webp" alt="Magneti Marelli" />
      <img src="/logos/NPP_logo.webp" alt="NPP" />
      <img src="/logos/BAREN-logo.webp" alt="Baren Batterie" />
      <img src="/logos/RITAR_logo.webp" alt="Ritar Power" />
      <img src="/logos/Yuasa_logo.webp" alt="Yuasa" />
      <img src="/logos/okyami_logo.webp" alt="Okyami" />
      <img src="/logos/polinovel_logo.webp" alt="Polinovel" />
      <img src="/logos/Elhim-ISKRA-logo.webp" alt="Elhim Iskra" />
      <img src="/logos/logo_power_motor_sport.webp" alt="Power Motor Sport" />
      <img src="/logos/sinergy_logo.webp" alt="Sinergy Batteries" />

    </div>

    <div class="brands-noise"></div>

  </div>
</section>