---
import "../styles/whatsapp.css";
---

<a 

  href="https://wa.me/393514767721"

  class="whatsapp-float"

  target="_blank"

  aria-label="Scrivici su WhatsApp"

>

  <img 

    src="/images/WhatsApp_icon.png" 

    alt="WhatsApp"

    width="28"

    height="28"

  />

</a>
